<!DOCTYPE html>>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Smart Fit Backend Dashboard">
        <meta name="author" content="Ge Alex, alexgecontrol@qq.com">
        <title>Smart Fit -- Intelli Train</title>
        <script src="/static/jquery-3.4.1.min.js"></script>
        <script src="/static/echarts.min.js"></script>
    </head>

    <body>
        <div id="wholepage">
            <div id="wrap">
                {% block body %}
                {% endblock %}   
            </div>
            <div id="footer">
                <div class="container">
                </div>
            </div>
        </div>
    </body>
</html>